/* 
.burger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.burger span {
    position: relative;
    width: 32px;
    height: 3px;
    background: var(--accent-text);
    border-radius: 100px;
    transition: var(--transition);
}

.burger span::before,
.burger span::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background: var(--accent-text);
    border-radius: 100px;
    transition: var(--transition);
}

.burger span::before {
    top: -8px;
}

.burger span::after {
    top: 8px;
}

.burger:hover span,
.burger:hover span::before,
.burger:hover span::after {
    background: var(--accent-color);
} */